@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #121212; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth}

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i, span, a {
  display: inline-block; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #121212;
  margin: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Styl odrazek */ }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0 0 0 0; }

hr {
  background-color: red;
}

.navigation {
  padding: 10px 0;
  transition: all 0.3s ease-out 0s; }
  .navigation.navigation-transparent {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99; }
  .navigation.fixed { /* Stala pozice, pri scrollovani mysi zustava navigace viditelna - nezmizi */
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(200, 0, 0, 0.8);}
  .navigation .navbar {
    position: relative;
    padding: 0; }

    @media only screen and (min-width: 768px) and (max-width: 991px) { /* MOBILE-FIRST rozvržení*/
      .navigation .navbar .navbar-collapse {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        padding: 10px 0;
        box-shadow: 0 2px 4px 0 rgba(200, 0, 0, 0.8); } }

    .navigation .navbar .navbar-nav .nav-item {
      margin: 0 16px;
      position: relative; }
      .navigation .navbar .navbar-nav .nav-item a {
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        padding: 26px 0;
        color: red;
        position: relative;
        transition: all 0.3s ease-out 0s; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .navigation .navbar .navbar-nav .nav-item a {
            padding: 10px 0;
            display: block; }
        }

/* -------------- ÚVOD -------------- */
.header-title {
  padding-bottom: 25px;
  font-size: 44px;
  line-height: 55px;
  color: black;
  font-weight: 800;
}

.button-main {
  padding: 0 15px 5px 18px; /* vycentrovani tlacitka */
  border-radius: 50px;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-image: -webkit-linear-gradient(left, red, darkred);
  line-height: 50px; /* Výška tlačítka */
}
.button-main:hover {
  padding: 0 15px 5px 18px;
  border-radius: 50px;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-image: -webkit-linear-gradient(right, red, darkred);
  line-height: 50px; /* Výška tlačítka */
  text-decoration: none;

}

.button-main img{
  height: 32px;
  margin-bottom: 5px;
}

/* -------------- SLUŽBY -------------- */
.services-area {
  padding-top: 120px;
  padding-bottom: 30px;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .services-area {
      padding-top: 100px;
      padding-bottom: 100px; } }

.services-content .services-icon img {
  height: 40px;
  margin-bottom: 5px;
}

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .services-content .services-content {
      padding-left: 15px;
      padding-top: 0; } }

/* -------------- CERTIFIKÁTY | PARTNEŘI -------------- */
.certificate-area {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .certificate-area {
    padding-top: 100px;
    padding-bottom: 100px; }
}

.partners {
  margin-top: 24px;
}

.partners img {
  padding: 10px;
  max-width: 250px;
  max-height: 125px;
  opacity: 0.3;
  transition: all 0.3s ease-out 0s;
}
.partners img:hover {
  opacity: 1;
}

/* -------------- REFERENCE -------------- */
.reference-area {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .reference-area {
    padding-top: 100px;
    padding-bottom: 100px; } }

/* -------------- KONTAKTY -------------- */
.contact-area {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-area {
    padding-top: 100px;
    padding-bottom: 100px; } }

/* -------------- FOOTER -------------- */
.copyright {
  padding: 23px 0; }
  .copyright .text {
    color: #6c6c6c;
    font-size: 20px }

.back-to-top { /* Tlacitko co po kliknuti presune uzivatele na zacatek stranky*/
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 5px;
  border-radius: 50%;
  text-align: center;
  background-color: red;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  color: #fff; }
  .back-to-top:hover {
    background-color: #0067f4;
    color: #fff; }
